@model IEnumerable<FormGenerator.Models.SelectList>

@{
    ViewData["Title"] = "Index";
}



<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td style="width:70%">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                    <td style="width:30%">

                        <apan type="button" class="collapsible">
                            <a href="@Url.Action("Edit",new { id=item.Id})"style="margin:3px !important" class="btn btn-success">

                                Edit
                            </a>

                        </apan>

                        <a href="@Url.Action("Delete",new { id=@item.Id})" class="btn btn-danger" style="margin:3px !important" asp-action="Delete" asp-route-id="@item.Id">

                            Delete
                        </a>

                        <a href="@Url.Action("Index","SelectedListItems",new { id=@item.Id})"style="margin:3px !important" class="btn btn-warning" asp-controller="SelectedListItems" asp-action="Index" asp-route-id="@item.Id">

                            Values
                        </a>

                    </td>

                </tr>


            }

        </tbody>
        <apan type="button" class="collapsible" style="width : 100% !important ">

            <div class="col-12 col-md-3 text-center" style="margin:20px !important">
                <a href="@Url.Action("create")" class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add New List
                </a>


            </div>

        </apan>

    </table>
</div>
@section Scripts {
    @{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/Content/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/js/demo/chart-pie-demo.js"></script>

    }
}