@model FormGenerator.Models.UserSubmissionValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserSubmissionValue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubmittedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormField.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormField.Caption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserSubmission.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserSubmission.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
