@model IEnumerable<FormGenerator.Models.FormField>

@{
    ViewData["Title"] = "Index";
}



<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Caption)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FieldType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Form)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FieldOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Caption)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FieldType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Form.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FieldOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td style="width:30% ;">

                        <apan type="button" class="collapsible">
                            <a href="@Url.Action("Edit",new { id=item.Id})" class="btn btn-success">

                                Edit
                            </a>

                        </apan>

                        <a href="@Url.Action("Delete",new { id=item.Id})" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">

                            Delete
                        </a>

                        <a href="@Url.Action("Details",new { id=item.Id})" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">

                            Details
                        </a>

                    </td>

                </tr>


            }

        </tbody>
        <div class="col-12 col-md-3 text-center" style="margin:20px !important">
            <a href="@Url.Action("Create",new { id=@ViewData["Formid"]})" asp-action="Create" class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600" asp-route-id="@ViewData["Formid"]">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add New Field
            </a>


        </div>
    </table>
</div>
@section Scripts {
    @{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/Content/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/js/demo/chart-pie-demo.js"></script>

    }
}