@model IEnumerable<FormGenerator.Models.UserSubmission>

@{
    ViewData["Title"] = "Index";
}


<table class="table table-striped" style="width:100% !important">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionTime)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody style="width:100%">
        @foreach (var item in Model)
        {
            <tr style="width:70%">
                <td style="width:70%">
                    @Html.DisplayFor(modelItem => item.SubmissionTime)
                </td>


                <td>
                    <div class="mt-15" style="margin:10px !important">
                        <a href="@Url.Action("Index","UserSubmissionValues",new { id =item.Id})" asp-route-id="@item.Id" asp-controller="UserSubmissionValues" asp-action="Index" class="f-n-hover btn btn-secondary btn-raised px-4 py-25 w-75 text-600" style="width:175px !important">
                            See Values
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>

                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/Content/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/js/demo/chart-pie-demo.js"></script>

    }
}